<f:layout name="Default" />

<f:section name="main">
    <h1>{page.pageTitle}</h1>
    <f:if condition="{redirection}">
        <div class="redirected">
            <f:translate key="LLL:EXT:typo3wiki/Resources/Private/Language/locallang.xlf:tx_typo3wiki_fluid.redirected_from">Redirected from1</f:translate>
            <f:link.action action="show" arguments="{page: redirection}">{redirection}</f:link.action>
        </div>
    </f:if>
    <div class="edit"><f:link.action action="edit" arguments="{page: page}">edit</f:link.action></div>
    <div class="content"><f:format.raw>{page.mainRevision.renderedText}</f:format.raw></div>
</f:section>